* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}   

body {
    font-family: "roboto Slap", serif;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header, footer {
    color: white;
    background-color: rgb(82, 82, 82);
    width: 100vw;
}

nav {
    padding: 0.2cm;
    width: 100%;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

body a {
    color: white;
    text-decoration: none;
}

nav li {
    list-style: none;
}

#search {
    border: none;
    border-radius: 100px;
    padding: 8px 0 8px 29px;
    font-size: medium;
}

.nav-li6{
    position: relative;
}

.nav-li6 img.search {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
}

img,
button{
    cursor: pointer;
    font-weight: bolder;
}

.nav-li7,
.nav-li8,
button{
    background-color: rgb(46, 106, 255);
    border: 3px solid rgb(46, 106, 255);
    border-radius: 5px;
    padding: 6px 14px;
}

.nav-li7 a,
.nav-li8 a {
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.main1 {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-around;
}

.section2 {
    width: -70%;
    gap: 4rem;
}

.heroProduct {
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.s2_details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: larger;
    margin-right: 30px;
}

.section1 {
    gap: 3rem;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 10px;
}

.section1_prdt {
    display: flex;
    gap: 1rem;
}

.price {
    flex-direction: column;
    padding-top: 10em;
}

.price p{
    font-size: large;
    font-weight: bolder;
}

.s1ProductDetails,
.s2_detailsp {
    text-align: justify;
}

.btnPrice,
.price {
    display: flex;
    gap: 1rem;
}

.section3 {
    width: 100%;
    background-color: black;
}

.section3_d1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}
.carousel-controls .carousel-btn{
    color: white;
}

.s1ProductDetails {
    font-size: larger;
}
